.cart-view-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 1%;
}
.cart-precess{
   /* width:auto; */
   height: 100%;
   
   border: 1px solid rgb(189, 183, 183);
   margin: 1% ;
   padding: 2%;
}
.cart-card-container{
    height: 100%;
}
@media(max-width:800px){
.cart-view-container{
    /* height: 100%; */
    flex-direction: column;
    justify-content: space-between;
   /* transform: scale(1); */
   padding: 2%;
    /* min-height: 100vh !important; */
   
    /* display: flex;
    justify-content: space-between; */
}


}