.cart-card {
  width: 800px;
  height:150px ;
  background: #fffefb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1%;
  padding: 1%;

  border: 0.4px solid #cec8c8;
  border-radius: 5px;
  box-shadow: 0px 1px 10px #e0dede;
  font-weight: 700;
}
.cart-description{
  font-weight: 450;
    
}
.cart-img {
  width: 100px;
}
.cart-btns{
    width: 20%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.amt-cart{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
/* .cart-title,.cart-description */
