.header {
  width: 100%;
  box-shadow: 0px 0px 10px #dad4d4;
  padding: 1.5% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  
}
.logo{
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
}
.menubtns{
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media(max-width:700px){
  .header {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2% 1%;
  
}
.menubtns{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  padding: 3% 0%;
    
}
}
