
.login-form-container {
  background: #f3f2f0;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;

}

.login-form {
  width: 
  50em;

  padding: 4% 3%;
  padding-top: 7%;
  border: 0.5px solid #dbd8d8;
  background: #fffefa;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #ebe9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: gainsboro; */
  
}
@media(max-width:700px){
  
  .login-form {
  width:auto;
padding: 2% 5%;
  padding-top: 7%;
  /* background: gainsboro; */
  
}
.login-form-container {
  background: transparent;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;

}

}