.prod-card{
  position: relative;
  overflow: hidden;
    width: 17em;
    height: 320px;
   border: 1px solid #b4afaf;
   border-radius: 5px;
   padding: 1%;
   margin:3% 5% ;
   transition-duration: 500ms;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   /* background-image: url("../images/Background.svg") ;
   background-repeat: no-repeat;
   background-size: cover; */
}
.prod-img-container{
    width: 100%;
    height: 100%;
     display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.prod-card:hover{
   box-shadow: 0px 0px 15px #e1ddf1;
    
}
.prod-img{
width: 150px;
}
.prod-title{
   /* display: inline-block;
    white-space: nowrap; */
    font-weight: 700;

}
.prod-price{
  width: 100%;
    display: inline-block;
    white-space: nowrap;
    font-weight: 600;
    background: #e7e2e2;
    padding: 5%;
    margin: 0% 2%;
    border-radius: 20%;
}
.prod-price-title{
     display: inline-block;
    white-space: nowrap;
  width: 100%;

    
}
.prod-card-btns{
  width: 10em;

  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* .bg-mark{
  position: absolute;
  top: 0;
  z-index: -999;

} */
/* #bg{
    font-size: 20em;
    font-weight: bold;
    padding: 0;
    margin: 0;
} */